.DS_Store
config/private.yml
/logs/*

# scripts/.xslt is populated based on version of datura gem
/scripts/.xslt-datura/*

/output/*
# increase specificity of this path if you wish to only track generated html
!/output/production/

