.DS_Store
config/private.yml
/logs/*

# scripts/.xslt is populated based on version of datura gem
/scripts/.xslt-datura/*

# ignore all output types except for production html
/output/*
!/output/production
/output/production/*
!/output/production/html

# Ignore Gemfile(.lock), .ruby-* to use whitman-scripts files
Gemfile
Gemfile.lock
.ruby-gemset
.ruby-version

